.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: crimson;
}

.navbar .title {
    font-size: 3rem;
    margin: 2rem 5rem;
    font-weight: bold;
    color: white;
}

.links {
    margin: 1rem 5rem;
}

.links a {
    margin-right: 2rem;
    font-size: 2.5rem;
    text-decoration: none;
    color: white;
    transition: all 0.2s ease-in;
    padding: 0.7rem 1rem;
}

.links a:hover {
    color: black;
    font-size: 2.2rem;
    background-color: white;
    border-radius: 10px;
}